body{ background-color:#4EA4FF; 
      

}

h1{ color:#000; 
    font-size:50pt;
	
	background-color:#FF9F33;
}

	P {color:#000;
	    font-size:25pt;
		background-color:#FF9F33;
	
	}
	
div{ color:#000;
     margin:40px;

}	
	
   
